spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/order_service_db
    username: ashish
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8000
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka