spring:
  config:
    import: configserver:http://localhost:8888
  application:
    name: order-service
server:
  port: 8000
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka